ASPNETCORE_ENVIRONMENT=Test
ASPNETCORE_URLS=http://+:8000/
DatabaseProvider=PostgreSQL
DatabaseConnectionString=
MessageBrokerHostname=messagebroker.howestprime.test
MessageBrokerPort=5672
MessageBrokerUsername=
MessageBroker__Password=