ASPNETCORE_ENVIRONMENT=Test
ASPNETCORE_URLS=http://+:8000/
Database__Provider=PostgreSQL
Database__ConnectionString=
MessageBroker__AsyncApiPath=asyncapi.yaml
MessageBroker__Hostname=messagebroker.howestprime.test
MessageBroker__Port=5672
MessageBroker__Username=
MessageBroker__Password=
MessageBroker__VirtualHost=/
